.packages {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(/public/sand.jpeg);
    background-size: cover;
}

.packages h1 {
    width: 100%;
    text-align: center;
   margin-top: 50px;
    color: rgb(19, 19, 19);
}
@media (max-width:600px) {
    .packages {
        background-image: linear-gradient( rgb(214, 203, 185),rgb(255, 255, 255));
        background-size: cover;
    }
}