.layar {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/public/sand.jpeg');
    background-size: cover;
}

.youtube {
    border-radius: 20px;
}

.button {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.button .prev-button,.button .next-button {
    height: 30px;
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 0 4px black;
  font-weight: 600;
}

.youtube {
  border-radius: 20px;
  overflow: hidden;
  height: 55%;
  box-shadow: 0 0 10px black;
}

.title {
  margin-bottom: 35px;
}

@media (max-width:600px) {
  .layar{
    height: 60vh;
  }
  .title h1{
    font-size: 30px;
    width: 90vw;
    text-align: center;
    margin: 0;
    margin-bottom: -30px;
  }

  .youtube {
    border-radius: 25px;
    overflow: hidden;
    height: fit-content;
    transform: scale(0.45);
    box-shadow: 0 0 10px black;
    margin: -50px 10px;
  }
}

